<% provide(:title, "About") %>
<div class="container-static">
<h1>About</h1>
<h2>
  <%= link_to("Code", "https://github.com/kaileeagray/cowork-fargo", target:"_blank", rel:"noopener no referrer")%>
  created for <%= link_to("Hack Fargo", "http://hackfargo.co/", target:"_blank", rel:"noopener no referrer")%>.
</h2>
<h2>Check out <%=link_to("The Prairie Den", "https://theprairieden.com/", target:"_blank", rel:"noopener no referrer") %> for  24/7 coworking in the Fargo area. </h2>
</div>
