<% provide(:title, "About") %>

<h1>About</h1>
<h2>
  <%= link_to("Code", "https://github.com/kaileeagray/cowork-fargo", target:"_blank", rel:"noopener no referrer")%>
  created for <%= link_to("Hack Fargo", "http://hackfargo.co/", target:"_blank", rel:"noopener no referrer")%>.
</h2>
