<div class="jumbotronTransp">

  <h1>Cowork Fargo</h1>
  <p>Web based application to connect remote workers and studiers in the
    Fargo, Moorhead, West Fargo area.</p>
  <%= link_to "Add your location!", '#', class: "btn btn-primary"%>
</div>
