<div class="jumbotronTransp">
  <div class="row">
    <div class="col-md-9">
      <h1>Cowork Fargo</h1>
    </div>

    <div class="col-md-3 ">
      <%= link_to "Join the community!", signup_path, class: "btn btn-primary btn-block btn-lg"%>
    </div>
  </div>
  <h3>Connecting remote workers and students in the
    Fargo, Moorhead, West Fargo area.</h3>
</div>
