<div class="jumbotronTransp">

  <h1>Cowork Fargo</h1>
  <h3>Web based application to connect remote workers and students in the
    Fargo, Moorhead, West Fargo area.</h3>
  <%= link_to "Add your location!", '#', class: "btn btn-primary"%>
</div>
