<div class="jumbotronTransp">

  <h1>Cowork Fargo</h1>
  <h3>Connecting remote workers and students in the
    Fargo, Moorhead, West Fargo area.</h3>
  <%= link_to "Join the community!", signup_path, class: "btn btn-primary"%>
</div>
