<div id="map-container">
  <div id="map-canvas">
      <h3><%= checkin.name %></h3>
      <p><%= checkin.address %></p>
      <%= link_to "Details", checkin_path(checkin), target: :blank, class: "btn btn-warning" %>
  </div>
</div>
