
<footer class="footer">
  <small>
    &copy; 2016 <%= link_to("Kailee Gray", "https://github.com/kaileeagray/", target:"_blank", rel:"noopener no referrer")%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
